:host {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  background: #ececec;
  padding: 2px;
  --xxsmall: 25px;
  --xsmall: 35px;
  --small: 50px;
  --medium: 75px;
  --large: 100px;
  --xlarge: 115px;
  --xxlarge: 125px;
  --image-border-colour: #008fee;
}

img {
  width: 100%;
  border: 1px solid var(--image-border-colour);
  border-radius: 50%;
}

.defaultProfilePic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--medium);
  height: var(--medium);
}

.profilePic.xxsmall {
  width: var(--xxsmall);
  height: var(--xxsmall);
}

.profilePic.xsmall {
  width: var(--xsmall);
  height: var(--xsmall);
}

.profilePic.small {
  width: var(--small);
  height: var(--small);
}

.profilePic.medium {
  width: var(--medium);
  height: var(--medium);
}

.profilePic.large {
  width: var(--large);
  height: var(--large);
}
.profilePic.xlarge {
  width: var(--xlarge);
  height: var(--xlarge);
}
.profilePic.xxlarge {
  width: var(--xxlarge);
  height: var(--xxlarge);
}

.defaultProfilePic img {
  width: 50%;
}
